VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Stellar Testnet
VITE_HORIZON_URL=https://horizon-testnet.stellar.org

# USDC on Testnet
VITE_USDC_ISSUER=
VITE_USDC_CODE=USDC
VITE_ESCROW_PUBLIC_KEY=
VITE_BACKEND_URL=http://localhost:3001

VITE_API_URL=http://localhost:400